
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 150px;
  height: 70px;
}
ul {
  display: flex;

}
.nav-items > li{
  font-size: 20px;
  margin: 10px;
  list-style: none;
  margin-left: 30px;
}
.res-container > .res-card > .res-image{
  width:190px;
  height: 35%;
}
.res-container > .res-card{

  width:200px;
  height: 300px;
  padding: 5px;
}
.res-container > .res-card:hover{
  border: 1px solid black;
}
.res-container{
  margin: 10px;
  display: flex;
}